# macOS
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcuserstate
*.xcworkspace
*.xcconfig

# Carthage/Build
Carthage/Build

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/**/*.png
*/fastlane/test_output

# Pods - for projects using CocoaPods
Pods/

# Swift Package Manager
# Add this line if you are using Swift Package Manager
.build/

# Derived data
DerivedData/
build/

# Google Service Info
GoogleService-Info.plist

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env

# Compiled object files
*.o
*.a
*.so

# Compiler intermediate files
*.d

# Test output
test-results/

# Temporary files
*.swp
*.swo

# Other IDE files
.idea/
.vscode/

# Other package managers
.yarn/
.pnp.*